{% extends "base.html" %}
{% block start %}

<!-- {{request.user}} -->
<h2> Hey {{request.user.first_name}},</h2>
<h3>Welcome to Collaborative Farming Platform</h3>

<div class="container mt-5">
    <form class="col-6 mx-auto card p-3 shadow-lg" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <h2>Add Resource</h2>
        <hr>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Resource Name</label>
            <input name="resources_name" type="text" class="form-control"required>
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Resource Description</label>
            <textarea name="resources_description" class="form-control" required></textarea>
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Resource Image</label>
            <input name="resources_image" type="file" class="form-control" required>
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Price(per day)</label>
            <input name="price" type="text" class="form-control"required>
        </div>
        <button type="submit" class="btn btn-success">Add Resource</button>
    </form>
    <hr>
    <div class="mb-5">
        <div class="mx-auto col-6">
            <form>
           <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Search Resource</label>
        <input name="search" value="{{ resource.resource_name }}" type="text" class="form-control">
            </div>
            <button type="submit" class="btn btn-primary">Search</button>
        </form>
        </div>
    </div>

      <table class="table mt-5">
        <thead>
            <tr>
                <th scope="col">No.</th>
                <th scope="col">Resources name</th>
                <th scope="col">Resources Description</th>
                <th scope="col">Price</th>
                <th scope="col">Image</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for resource in resources %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{ resource.resource_name }}</td>
                    <td>{{ resource.resource_description }}</td>
                    <td>{{resource.price}}</td>
                    <td>
                        <img src="/media/{{ resource.resource_image }}" style="height: 100px"></td>
                    <td>
                        <a href="/delete-resource/{{resource.id}}" class="btn btn-danger m-2">Delete</a>
                        <a href="/update-resource/{{resource.id}}" class="btn btn-success">Update</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    
    </div>

{% endblock %}